div {
    padding: 10px;
    border-bottom: solid 1px;
    background-color: #552A7F;
}

button {
    color: #FFF;
    font-family: 'Times New Roman', Times, serif;
    border: solid 2px #800080; 
    border-radius: 25%;
    background-color: transparent;
}

button:hover {
    background-color: #FFF;
    color: #800080;
}